html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.jumbotron {
    background-image: url("images/road.jpg");
    background-size:cover;
    color: #ffffff;
}

.row {
	margin-bottom: 25px;
}

/* .col-md-4:hover, col-md-4:focus {
	box-shadow: 3px 3px 3px #888888;
    border-radius: 25px;
    border: 1px solid #f0f0f0;
} */
	
.footer {
	color: #777;
	background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.smallpic {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 50vh;
}