html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
/*    padding-bottom: 50px; */
}

form {
  right: 10px;
  top: 10px;
}

.jumbotron {
    background-image: url("images/road.jpg");
    background-size:cover;
    color: #ffffff;
}

.row {
	margin-bottom: 25px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-md-4 {
    padding-bottom: 5px;
}

/* .col-md-4:hover, col-md-4:focus {
	box-shadow: 3px 3px 3px #888888;
    border-radius: 25px;
    border: 1px solid #f0f0f0;
} */
	
.footer {
	color: #777;
	background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.img-thumbnail {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 50vh;
}

.leaflet-control-layers-expanded {
	font-family: sans-serif;
    padding-left: 15px;
    padding-bottom: 15px;
}

#map {
    min-height: 500px;
	height: 98%;
	width: 100%;
}		    

#galileo {
    margin-left: auto;
    margin-right: auto;
	max-width: 200px;
}

#mySched8224 {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: #333333;
  font: 14px Arial, Helvetica, Verdana;
  padding: 8px 20px;
  cursor: pointer;
}

#mySched8224:hover {
  opacity: 0.9;
}


